body{
    background-color: aliceblue;
}
.container-register{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2;
    background-color:white;
    height:110vh;
    width:30%;
}
.container-register h1{
    text-align: center;
    color:cadetblue;
}
.loginpage{
    text-decoration: none;
    font-weight: bold;
}
